@font-face{
	font-family: Sixcaps;
	src:url(../fonts/SixCaps.ttf);
}

nav ul li a.active{
	background-color: rgba(173, 20, 87, 0.7);
}
nav ul li a:hover{

	color:#f06292;
}


/*code couleur gris #37474f blue-grey darken-3
			   pink #ad1457 pink darken-3
			   Cyan #0097a7 cyan darken-2
*/
body{
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
i.ion-log-in.small{
	font-size: 18px;
}
i.ion-social-twitter.large{
	font-size: 32px;
}
i.ion-social-facebook.large{
	font-size: 32px;
}
i.ion-social-rss.large{
	font-size: 32px;
}

#home{
	height: 22cm;
	padding-top: 100px;
	background-color: rgba(173, 20, 87, 0.2);
}
#home .container{
	padding-top: 200px;
}
#home h1{
	text-align: center;
	color: white;
	opacity: 0.6;
}
#slideshow { 
	
    position: relative;
    width: 1020px;
    height: 655px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div { 
    position: absolute;
    top: 25px; 

}
.image_slide{
	width: auto;
	height: auto;
	max-width: 977px;
	max-height: 611px;	
}
#home.container{
	width:977px;
	padding-top: 0px;
}


#produits{
	height: 24cm;
	background-color: rgba(0, 0, 0, 0.85);
}
#about{
	height: 22cm;
	background-color: rgba(0, 0, 0, 0.85);
}

#services{
	height: 22cm;
	background-color: rgba(173, 20, 87, 0.2);
}
#services .container{
	text-align: center;
}

#services .title {
	padding: 15px;
	width:100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	background-color: rgba(173, 20, 87, 0.1);
	margin-bottom: 40px;
}

#services h3{
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	opacity: 0.7;

}

#services h4{
	text-align: center;
	margin-top: 0px;
	color: white;
	opacity: 0.5;
	font-style: bold;
	font-size: 25px;

}
#services h5{
	text-align: center;
	margin-top: 0px;
	color: white;
	opacity: 0.5;
	font-style: bold;
	font-size: 14px;
}

#contact .title {
	padding: 15px;
	width:100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	background-color: rgba(173, 20, 87, 0.1);
	margin-bottom: 70px;
}

#contact h3{
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	opacity: 0.7;

}

#contact{
	height: 19cm;
	background-color: rgba(173, 20, 87, 0.2);
}


.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=url]:focus + label,
.input-field input[type=date]:focus + label,
.input-field input[type=tel]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=search]:focus + label,
.input-field textarea:focus.materialize-textarea + label {
   	color: #0097a7;
   	font-size: 16px;
   }
#contact .container{
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	background-color: rgba(255, 255, 255, 1);
	height: 10cm;
	border-radius: 5px;
}

/*Contact Form*/

   /* label focus color */
#contact .input-field input:focus + label{
     color: #0097a7;
}
/*#contact .input-field label {
     color: #ffffff;
     font-size: 16px;
   }*/
   /* label underline focus color */
#contact .input-field input:focus{
     border-bottom: 1px solid #0097a7;
     box-shadow: 0 0 1 #000000;
}
   /* valid color */
#contact .input-field input.valid {
     border-bottom: 1px solid #0097a7;
}
   /* invalid color */
#contact .input-field input.invalid {
     border-bottom: 1px solid #ad1457;
}
   /* icon prefix focus color */
#contact .input-field .prefix.active {
     color: #0097a7;
}

#contact button{
	background-color: #0097a7;
}


#produits h3{
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	opacity: 0.7;

}

#produits h4{
	text-align: center;
	margin-top: 0px;
	color: white;
	opacity: 0.5;
	font-style: bold;
	font-size: 25px;

}


#produits .container{
	padding-top: 100px;
}

#about h3{
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	opacity: 0.7;

}
#produits .title {
	padding: 15px;
	width:100%;
	box-shadow: 0 0 10px rgba(255,255,255,0.4);
	background-color: rgba(0, 96, 100, 0.1);
}

#about .title{
	text-transform: uppercase;
	padding: 15px;
	width:100%;
	box-shadow: 0 0 10px rgba(255,255,255,0.4);
	background-color: rgba(0, 96, 100, 0.1);
	margin-bottom: 70px;
}

#about .container.text{
	margin-top: 40px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 33px;
	color: white;
	text-shadow: 0px 0px 7px #37474f;
	letter-spacing: 0px;
}

#about .row{
	margin-bottom: 0px;
}

.center{
	text-align: center;
	vertical-align: middle;
	box-shadow: 0 0 5px rgba(255,255,255,0.4);
}

/*transition starts here*/
#produits .view{
	position: relative;
}
#produits .view .mask {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
}
#produits .view h2 {
	height: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    /*padding: 2px;*/
    background: rgba(0, 0, 0, 0.8);
    /*margin: 4px 0 0 0*/
}
#produits .view p {
    
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
#produits .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
#produits .view a.info:hover {
    box-shadow: 0 0 5px #000
}

#services .view{
	position: relative;
}
#services .view .mask {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
}
#services .view h2 {
	height: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    /*padding: 2px;*/
    background: rgba(0, 0, 0, 0.8);
    /*margin: 4px 0 0 0*/
}
#services .view p {
    
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
#services .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
#services .view a.info:hover {
    box-shadow: 0 0 5px #000
}

/*OnHover Mask #about*/
#about .view {
    width: 200px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-right: auto;
    margin-left: auto;
}
#about .view .mask, .view .content {
	width: 200px;
	height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
#about .view img {
    display: block;
    position: relative
}
#about .view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 40px 0 0 0;
    line-height: 10px;
}
#about .view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
#about .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
#about .view a.info:hover {
    box-shadow: 0 0 5px #000
}

.guitar .featured-image{
	height: 250px;
	width: 100%;
	background: url(../images/guitarthion.jpg) no-repeat center center ;
	background-size: cover;
}
.perc .featured-image{
	height: 250px;
	width: 100%;
	background: url(../images/percuthion.jpg) no-repeat center center ;
	background-size: cover;
}
.saxo .featured-image{
	height: 250px;
	width: 100%;
	background: url(../images/naf5ethion.jpg) no-repeat center center ;
	background-size: cover;
}

.electronic .featured-image{
	height: 250px;
	width: 100%;
	background: url(../images/moogothion.png) no-repeat center center ;
	background-size: cover;
}

.accessoires .featured-image{
	height: 250px;
	width: 100%;
	background: url(../images/accesoirs.png) no-repeat center center ;
	background-size: cover;
}

.modal{
	width: 25%;
	max-height: 450px;
}
.modal.modal-fixed-footer .modal-content{
	padding-bottom: 20px;
}

   /* label focus color */
.input-field input:focus + label {
     color: #0097a7;
}
   /* label underline focus color */
.input-field input:focus {
     border-bottom: 1px solid #0097a7;
     box-shadow: 0 1px 0 0 #0097a7;
}
   /* valid color */
.input-field input.valid {
     border-bottom: 1px solid #0097a7;
     box-shadow: 0 1px 0 0 #0097a7;
}
   /* invalid color */
.input-field input.invalid {
     border-bottom: 1px solid #ad1457;
     box-shadow: 0 1px 0 0 #ad1457;
}
   /* icon prefix focus color */
.input-field .prefix.active {
     color: #0097a7;
}
.row .col.l2{
   		text-align: center;
   		margin-left: 8px;
   }

i.mdi-action-assignment-late{
	font-size: 10rem;
	color: #ad1457;
}

i.mdi-action-question-answer{
	font-size: 10rem;
	color: #ad1457;
}

i.mdi-communication-live-help{
	font-size: 10rem;
	color: #ad1457;
}

#services i:hover{
	text-shadow: 2px 0 10px #000000;
}

div.promo:hover{
     border-top: 3px solid #ad1457;
}

p.icone-titre{
	color: white;
	font-size: 1.7rem;
	font-weight: 500;
}

p.icone-texte{
	color: white;
    border-bottom: 2px solid #ad1457;
    text-shadow: 1px 1px 10px #0097a7;
}

footer.page-footer{
	margin-top: 0px;
}
footer ul li a{
	color:white;
}